body {
  margin: 0;
  font-family: Circular Std;
  font-size: 16px;
  line-height: 24px;
}
@font-face {
  font-family: Circular Std;
  src: local('Circular Std'),
  url('./fonts/circular-std-medium-500.ttf') format('truetype');
  font-weight: lighter;
}